# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Streamlit / local runtime cache
.cache/
.streamlit/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*
